@model IEnumerable<fernando2dias.Models.Instituicao>
@{
    Layout = null;
}

<h2>Instituições</h2>
<p>
    <a asp-action="Create"> Create New</a>
</p>

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.InstituicaoID)</th>
            <th>@Html.DisplayNameFor(Model => Model.Nome)</th>
            <th>@Html.DisplayNameFor(Model => Model.Endereco)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.InstituicaoID)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InstituicaoID }) | @Html.ActionLink("Details", "Details", new { id = item.InstituicaoID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InstituicaoID })
            </td>
        </tr>

        }

    </tbody>foreach


</table>